.todo-button-shared-style {
    margin: 10px;
    padding: 5px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  .edit-button {
    background-color: blue;
  }
  .delete-button {
    background-color: red;
  }